<!DOCTYPE html>
<HTML>
<HEAD>
<TITLE>{{ page.title }}</TITLE>
<!--
<link rel="stylesheet" type="text/css" href="/css/main.css">
-->
</HEAD>

<BODY>
<nav>
	<ul>
        	<li><a href="/">Home</a></li>
		<!--
	       	<li><a href="/about">About</a></li>
        	<li><a href="/cv">CV</a></li>
		-->
        	<li><a href="/blog">Blog</a></li>
	</ul>
	</nav>
	<div class="container">

	{{ content }}

	</div><!-- /.container -->
	<footer>
    	<ul>
        	<li><a href="mailto:john.tromp@gmail.com">email</a></li>
        	<li><a href="https://github.com/tromp">github.com/tromp</a></li>
		</ul>
	</footer>
</BODY>
</HTML>
